---
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { BLOG } from "@consts";
import { getBlogData } from "@lib/blog";

const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);
const { posts, years } = await getBlogData(lang);

const title = t("blog.title");
const description = BLOG.DESCRIPTION;
---

<PageLayout {title} {description}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        {t("blog.heading")}
      </div>
      <div class="space-y-4">
        {
          years.map((year) => (
            <section class="animate space-y-4">
              <div class="font-semibold text-black dark:text-white">
                {year}
              </div>
              <div>
                <ul class="flex flex-col gap-4">
                  {
                    posts[year].map((post) => (
                      <li>
                        <ArrowCard entry={post} {lang} />
                      </li>
                    ))
                  }
                </ul>
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </Container>
</PageLayout>