---
import Container from "@components/Container.astro";
import type { CollectionEntry } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, SOCIALS } from "@consts";
import { render } from "astro:content";

interface Props {
  title: string;
  description: string;
  heroTitle: string;
  heroText: string;
  postsTitle: string;
  postsLink: string;
  projectsTitle: string;
  projectsLink: string;
  workTitle: string;
  workLink: string;
  connectTitle: string;
  connectText: string;
  blog: CollectionEntry<"blog">[];
  projects: CollectionEntry<"projects">[];
  work: CollectionEntry<"work">[];
}

const {
  title,
  description,
  heroTitle,
  heroText,
  postsTitle,
  postsLink,
  projectsTitle,
  projectsLink,
  workTitle,
  workLink,
  connectTitle,
  connectText,
  blog,
  projects,
  work,
} = Astro.props;

const renderedWork = await Promise.all(
  work.map(async (entry) => {
    const { Content } = await render(entry);
    return { entry, Content };
  }),
);
---

<PageLayout title={title} description={description}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      {heroTitle}
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">{heroText}</p>
        </article>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">{postsTitle}</h5>
          <Link href="/blog">{postsLink}</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            {workTitle}
          </h5>
          <Link href="/work">{workLink}</Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            renderedWork.map(({ entry, Content }) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            {projectsTitle}
          </h5>
          <Link href="/projects">{projectsLink}</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">{connectTitle}</h5>
        <article>
          <p>{connectText}</p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
